body {
  text-align: center;
  background-image: url("images/lake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


h1 {
  font-size: 100px;
  font-family: serif;
  text-align: center;
}

h2 {
  color: black;
  font-family: sans-serif;
  font-size: 30px;
}

h3 {
  color: black;
  font-family: sans-serif;
  font-size: 50px;
}


#play-button {
  width: 300px;
  height: 150px;
  font-size: 60px;
  color: white;
  background-color: green;
}
